<style>
    table{ border: solid 1px black; border-collapse: collapse;}
    tr{ border: 1px solid black;}
    td{border: 1px solid black; width: 150px;}
    
</style>
    <h3>Rendez-vous du jour</h3>
    <table>
        <tr>
            <td>Aujourd'hui</td>
            <td>--h--</td>
            <td></td>
    </tr>
        
            <tr>
                <td></td>
                <td>08h00</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>09h00</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>10h00</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>11h00</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>12h00</td>
                <td></td>
            </tr>     
    </table>