
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block titre %}Maquette Profession Libérale {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />

</head>
<body>
    <div class='row'>
    <div class="col-md-2">
        <ul class="nav flex-column">
            <li><a href="index.php">Gestion de la clientèle</a></li>
            <li><a href="index.php?page=agenda">Organisation quotidienne</a></li>
            <li><a href="index.php?page=rdv">Ajouter une consultation à l'agenda</a></li>
            <li><a href='index.php?page=materiel'>Gestion du matériel</a></li>
             <li><a href='index.php?page=activite'>Gestion des activités</a></li>
        </ul>
    </div>
    {% block contenu %}
    
    {% endblock %}
    </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html> 