{% extends "base.html.twig" %}
{% block titre %}Gestion Clientèle{% endblock %}
{% block contenu %}
<div class="col-md-6">
          
        <form action="prise_rdv.html" method="POST" >

            <div class="form-group">
                <label for="nomCli">Nom </label>
                <input type="text" class="form-control" id="nomCli" name="nomCli"/>
            </div>
            <div class="form-group">
                <label for="prenomCli">Prénom </label>
                <input type="text" class="form-control" id="prenomCli" name="prenomCli" />
            </div>
            <div class="form-group">
                <label for="dateNaissCli">Date de naissance</label>
                <input type="date"class="form-control" id="dateNaissCli" name="dateNaissCli" />
            </div>
            <div class="form-group">
                <label for="adresseCli">Adresse complète</label>
                <input type="text" class="form-control" id="adresseCli" name="adresseCli" />
            </div>
            <div class="form-group">
                <label for="numCli">Numéro de téléphone</label>
                <input type="tel" class="form-control"id="numCli" name="numCli" />
            </div>
            <input type="submit" class="form-control" value="Ajouter un client"/>
        </form>

        <h3>Mes clients</h3>
        <table class="table">
            <thead class="thead-dark">
                <th>Nom et Prénom</th>
                <th>Âge</th>
                <th>Adresse</th>
                <th>Numéro de téléphone</th>
                <th><i class="fas fa-pen"></i></th>
            </thead>
            <tbody>
            <tr class="table-primary">
                <td>(Consultation prévue dans la journée)Nom Prénom</td>
                <td>48ans</td>
                <td>4 rue </td>
                <td>03.33.33.33.33</td>
                <td><a href="prise_rdv.html" title="Prévoir une prestation"><i class="fas fa-pen"></i></a></td>
            </tr>
            <tr>
                <td>Nom Prénom</td>
                <td>48ans</td>
                <td>4 rue </td>
                <td>03.33.33.33.33</td>
                <td><a href="prise_rdv.html" title="Prévoir une prestation"><i class="fas fa-pen"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}