{% extends "base.html.twig" %}

{% block titre %} 404 Not Found {% endblock %}
{% block contenu %}
    <h1>404 Not Found</h1>
    <h3>La page recherchée n'existe pas ou n'est pas disponible.</h3>
{% endblock %}