{% extends "base.html.twig" %}
{% block titre %} Gestion Matériel {% endblock %}
{% block contenu %}
            <div class='col-md-6'>
<h3>Gestion du matériel</h3>
        <h3>Ajout d'un nouvel equipement </h3>
        <form action="index.php?page=materiel" method="POST">
            <div class="form-group">
                
                <label for="nomMat">Intitulé de l'équipement</label>
                <input type="text" id="nomMat" name="nomMat" />
                
            </div>
            
            <div class="form-group">
                
                <label for="comMat">Description / utilité</label>
                <textarea class="form-control" rows="5" id="comMat" name="comMat"></textarea>
                
            </div>
            <input type='hidden' name='ajoutMat' />
            <input type="submit" value="Ajouter"/>
        </form>
        <h3>Mon matériel</h3>
        <table class="table">
            <thead class="thead-dark">
                <th>Intitulé </th>
                <th>Description / utilité</th>
                <th><i class='fas fa-trash'></i>
            </thead>
            <tbody>
                {% for materiel in listeMateriel %}
                <tr>
                    <td>{{materiel.nomMat}}</td>
                    <td>{{materiel.comMat}}</td>
                    <td><a href='index.php?page=materiel&idMatSup={{materiel.idMat}}'><i class='fas fa-trash'></i></a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}