{% extends "base.html.twig" %}
{% block titre %}Agenda{% endblock %}
{% block contenu %}
    <div class='col-md-4'>
        <a href='index.php?page=exportAgenda' target='_blank'>Télécharger</a>
    <h3>Rendez-vous du jour</h3>
    <table class="table">
        <thead class="thead-dark">
            <th>Aujourd'hui</th>
            <th>--h--</th>
            <th></th>
            <th style="text-align: right;"><i class='fas fa-trash'></i> | <i class='fas fa-pen'></i></i></th>
        </thead>
        
        <tbody>
            {% for i in 8..18 %}
                {% for cons in consultations %}
                    
                        {% if cons.heurePres[:2] == i %}
                            <tr class='table-sucess'>
                                <td><i class="far fa-check-circle"></i></td>
                                    <td>{{cons.heurePres}}</td>
                                    <td>{{cons.libellePres}}</td>
                                    <td style="text-align: right;"><a href="index.php?page=agenda&supCons={{cons.idConsul}}"><i class='fas fa-trash'></i></a> | <a href="index.php?page="><i class='fas fa-pen'></i></a></td>
                            </tr>
                        {% else %}
                            <tr class='table-sucess'>
                            <td><i class="far fa-check-circle"></i></td>
                                <td>{{i}}:00</td>
                                <td>...</td>
                                <td style="text-align: right;"><a href="index.php?page=rdv" title="Prendre rendez-vous"><i class='fas fa-plus'></i></a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
        </tbody>
        
    </table>
    
</div>
{% endblock %}