{% extends "base.html.twig" %}
{% block titre %}Agenda{% endblock %}
{% block contenu %}
        <div class='col-md-4'>
    <h3>Rendez-vous du jour</h3>
    <table class="table">
        <thead class="thead-dark">
            <th>Aujourd'hui</th>
            <th>--h--</th>
            <th></th>
            <th><i class='fas fa-trash'></i> | <i class='fas fa-pen'></i> | <i class='fas fa-bell'> </i> | <i class="fas fa-info"></i></th>
        </thead>
        
        <tbody>
            <tr class='table-sucess'>
                <td><i class="far fa-check-circle"></i></td>
                <td>08h00</td>
                <td></td>
                <td><a href=""><i class='fas fa-trash'></i></a> | <a href="prise_rdv.html"><i class='fas fa-pen'></i></a> | <a href=""><i class='fas fa-bell'> </i></a></td>
            </tr>
            <tr class='table-primary'>
                <td><i class="far fa-check-circle"></i></td>
                <td>09h00</td>
                <td>Visite Médicale de M. Doe</td>
                <td><a href=""><i class='fas fa-trash'></i></a> | <a href=""><i class='fas fa-pen'></i></a> | <a href=""><i class='fas fa-bell'> </i></a> | <a href=""><i class="fas fa-info"></i></a></td>
            </tr>
            <tr class='table-danger'>
                <td><i class="far fa-check-circle"></i></td>
                <td>10h00</td>
                <td>Soins à domicile chez M. John</td>
                <td><a href=""><i class='fas fa-trash'></i></a> | <a href=""><i class='fas fa-pen'></i></a> | <a href=""><i class='fas fa-bell'> </i></a> | <a href=""><i class="fas fa-info"></i></a></td>
            </tr>
            <tr class='table-danger'>
                <td><i class="far fa-check-circle"></i></td>
                <td>11h00</td>
                <td>Soins à domicile chez Mme Moe</td>
                <td><a href=""><i class='fas fa-trash'></i></a> | <a href=""><i class='fas fa-pen'></i></a> | <a href=""><i class='fas fa-bell'> </i></a> | <a href=""><i class="fas fa-info"></i></a></td>
            </tr>
            <tr class=''>
                <td><i class="far fa-check-circle"></i></td>
                <td>12h00</td>
                <td></td>
                <td><a href=""><i class='fas fa-trash'></i></a> | <a href=""><i class='fas fa-pen'></i></a> | <a href=""><i class='fas fa-bell'> </i></a></td>
            </tr>
            <tr class=''>
                <td><i class="far fa-check-circle"></i></td>
                <td>13h00</td>
                <td></td>
                <td><a href=""><i class='fas fa-trash'></i></a> | <a href=""><i class='fas fa-pen'></i></a> | <a href=""><i class='fas fa-bell'> </i></a></td>
            </tr>
            <tr class=''>
                <td><i class="far fa-check-circle"></i></td>
                <td>14h00</td>
                <td></td>
                <td><a href=""><i class='fas fa-trash'></i></a> | <a href=""><i class='fas fa-pen'></i></a> | <a href=""><i class='fas fa-bell'> </i></a></td>
            </tr>            
            <tr class=''>
                <td><i class="far fa-check-circle"></i></td>
                <td>15h00</td>
                <td></td>
                <td><a href=""><i class='fas fa-trash'></i></a> | <a href=""><i class='fas fa-pen'></i></a> | <a href=""><i class='fas fa-bell'> </i></a></td>
            </tr>
            <tr class=''>
                <td><i class="far fa-check-circle"></i></td>
                <td>16h00</td>
                <td></td>
                <td><a href=""><i class='fas fa-trash'></i></a> | <a href=""><i class='fas fa-pen'></i></a> | <a href=""><i class='fas fa-bell'> </i></a></td>
            </tr>
            <tr class=''>
                <td><i class="far fa-check-circle"></i></td>
                <td>17h00</td>
                <td>Apéro</td>
                <td><a href=""><i class='fas fa-trash'></i></a> | <a href=""><i class='fas fa-pen'></i></a> | <a href=""><i class='fas fa-bell'> </i></a></td>
            </tr>
            <tr class='table-dark'>
                <td><i class="far fa-check-circle"></i></td>
                <td>18h00</td>
                <td colspan="2">Fin de journée</td>
            </tr>
        </tbody>
        
    </table>
    
</div>
{% endblock %}